apiVersion: apps/v1
kind: Deployment
metadata:
  name: d-lama-service-database
  labels:
    app: d-lama-service-database
spec:
  selector:
    matchLabels:
      app: d-lama-service-database
      tier: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: d-lama-service-database
        tier: mysql
    spec:
      containers:
      - image: mysql:5.6
        name: mysql-container
        resources:
          limits:
            cpu: "1"
            memory: 1Gi
          requests:
            cpu: "0.5"
            memory: 1Gi
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-password
              key: password
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim
