apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dlama-stage

commonLabels:
  env: sta

replicas:
- count: 1
  name: d-lama-service

resources:
- ../../base
- config.yaml
- ingress.yaml

patchesStrategicMerge:
- imageversion.yaml
- patches/service-monitor.yaml
    
images:
- name: d-lama-service-image
  newName: feuerdave/d-lama-service
  newTag: latest
