# This is a basic workflow to help you get started with Actions

name: d-lama-service-ci

# Controls when the workflow will run
on:
  workflow_call:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3   
        with:
          dotnet-version: '6.0.x'
          dotnet-quality: 'preview'
      - name: Show where is triggered from
        run: |
          echo $DESTINATION
          ls -la
        
      - name: Build
        run: dotnet build
  
  # This workflow contains a single job called "build"
  test:
    needs:
      - build
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3   
        with:
          dotnet-version: '6.0.x'
          dotnet-quality: 'preview'
        
      - name: Test
        run: dotnet test
