# This is a basic workflow to help you get started with Actions

name: d-lama-service-ci

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      sln-path:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      NPM_TOKEN:
        required: true
      PA_TOKEN:
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3   
        with:
          sln-path: ${{ inputs.sln-path }}
          dotnet-version: '6.0.x'
          dotnet-quality: 'preview'
      - name: Show where is triggered from
        run: |
          echo $DESTINATION
          ls -la
          echo Test
          echo $GITHUB_OUTPUT
          echo $sln-path 1
          echo ${{ inputs.sln-path }} 3
        
      - name: Build
        run: dotnet build ${{ inputs.sln-path }}
  
  # This workflow contains a single job called "build"
  test:
    needs:
      - build
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3   
        with:
          sln-path: ${{ inputs.sln-path }}
          dotnet-version: '6.0.x'
          dotnet-quality: 'preview'
        
      - name: Test
        run: dotnet test ${{ inputs.sln-path }}
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.PA_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
