# This is a basic workflow to help you get started with Actions

name: d-lama-webapp-ci

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v3  
        
      - name: Set up Node.js  
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
        
      - name: Install Dependencies
        run: npm install
        
      - name: Build
        run: npm run build
        
      - name: Run Tests
        run: npm run test
        
      - name: Install Ionic CLI
        run: npm install -g @ionic/cli

      - name: Build Ionic app
        run: ionic build

      - name: Run Ionic tests
        run: ionic test
      
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
